@use '../mixins' as *;

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 70px;
  background: rgba(16, 16, 29, 0.9);

  @include desktop {
    height: 100px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }

  &__logo {
    width: 150px;

    @include desktop {
      width: 247px;
    }
  }
}
