@use './variables' as *;
@use './mixins' as *;

@font-face {
  font-family: 'LatoRegular';
  src: url('/src/fonts/Lato-Regular.woff2') format('woff2'),
    url('/src/fonts/Lato-Regular.woff') format('woff'),
    url('/src/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LatoSemibold';
  src: url('/src/fonts/Lato-Semibold.woff2') format('woff2'),
    url('/src/fonts/Lato-Semibold.woff') format('woff'),
    url('/src/fonts/Lato-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'LatoBold';
  src: url('/src/fonts/Lato-Bold.woff2') format('woff2'),
    url('/src/fonts/Lato-Bold.woff') format('woff'),
    url('/src/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LatoHeavy';
  src: url('/src/fonts/Lato-Heavy.woff2') format('woff2'),
    url('/src/fonts/Lato-Heavy.woff') format('woff'),
    url('/src/fonts/Lato-Heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  @include main-font();
  font-size: 18px;
  line-height: 21px;
  color: $font-white;

  &.no-scroll {
    overflow: hidden;
  }
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;

  @include tablet {
    max-width: 940px;
    padding: 0 14px;
  }

  @include desktop {
    max-width: 1200px;
  }
}
