$font-white: #ffffff;
$font-black: #000000;
$font-blue: #3e9cdc;
$font-dark-gray: #2a2b30;
$font-dark: #272733;

$main-white: #ffffff;
$main-blue: #3e9cdc;
$main-dark-gray: #2a2b30;
$main-dark: #272733;
$main-dark-blue: #286690;
$main-gray: #3d4050;
